
{% assign sorted_pages2 = site.pages %}

{% assign sorted_pages = "" | split: ""  %}
{% for item in sorted_pages2 %}
    {% assign sorted_pages = sorted_pages | push: item %}
{% endfor %}

{% for item in site.pages %}
    {% if item.url == page.url %}
        {% assign this_i = forloop.index0 %}
        {% assign num_of_pages = forloop.length %}
        {% assign last_i = forloop.length | minus: 1 %}
        {% assign next_i = forloop.index0 | plus: 1 %}
        {% assign prev_i = forloop.index0 | minus: 1 %}
    {% endif %}
{% endfor %}


{%- if page.title == 'About this document' -%}
    {% if prev_i < 0 %}
    {% else %}
       <a href="{{sorted_pages[prev_i].url}}"><span>Previous section</span></a>                 
    {% endif %}
    {% if num_of_pages > next_i %}
                <a href="{{ sorted_pages[next_i].url }}">
                    <span>Next section</span>
                </a>
    {% endif %}

{%- else -%}
    {% if prev_i < 0 %}
    {% else %}
         <a href="{{sorted_pages[prev_i].url}}"><span>Previous section</span></a>                 
    {% endif %}
    {% if num_of_pages > next_i %}
                <a href="{{ sorted_pages[next_i].url }}">
                    <span>Next section</span>
                </a>
    {% endif %}
    {%- if page.next -%} 
        <a rel="next" href="{{ page.next.url }}">Continue to next section: {{page.next.title}}</a>
    {%- endif -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
  <table>
    <tr>
      <td> 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
      </td>
      <td>
        Please cite as: <i>Javier Salvador Calvo. "Mobile app development". Universitat Oberta de Catalunya, 2022.</i><br/>
        This work is published under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a> (CC BY-NC-ND 4.0).
      </td>
    </tr>
  </table>
{%- endif -%}
