{%- if page.title == 'About this document' -%}
    {%- if page.following -%} 
        <a rel="next" href="{{ page.following }}">Start reading</a>
    {%- endif -%}
{%- else -%}
    {%- if page.following -%} 
        <a rel="next" href="{{ page.following }}">Continue to next section</a>
    {%- endif -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
  <table>
    <tr>
      <td> 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
      </td>
      <td>
        Please cite as: <i>Javier Salvador Calvo. "Mobile app development". Universitat Oberta de Catalunya, 2022.</i><br/>
        This work is published under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a> (CC BY-NC-ND 4.0).
      </td>
    </tr>
  </table>
{%- endif -%}
